<div class="keugoi col-md-3">
    <h1>Viết Bài</h1>
    <hr/>
    <h2>Chúng tôi vui vì đóng góp của bạn:</h2>
    <p>
        - Hãy để lại đóng góp hữu ích cho những người cùng thích chó khi vào web. <br/>
        - Để lại mail chính xác của bạn. Nếu bài viết thực sự có ích chúng tôi sẽ liên hệ.
    </p>
    <form class="col-md-12">
        <div class="col-md-6">
            <div class="item">
                <label>Tên bạn:</label><br/>
                <input type="text" name="Fullname" placeholder="Tên Bạn" required/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="item">
                <label>Email:</label><br/>
                <input type="email" name="email" placeholder="Để lại mail của bạn"/>
            </div>
        </div>
        <div class="col-md-12">
            <label>Tiêu Đề:</label><br/>
            <textarea class="tieude" name="description" placeholder="description me" required></textarea>
        </div>
        <div class="col-md-12">
            <label>Nội dung:</label><br/>
            <textarea cla name="description" placeholder="description me" required></textarea>
        </div>
        <div class="col-md-12">
            <label>Hình ảnh đính kèm (Nếu Có):</label>
            <input type="file" accept=".jpg, .png, .svg, .gif" id="file-upload"/>
        </div>
        <div class=""col-md-12>
            <button type="Submit">SUBMIT</button>
        </div>
    </form>
</div>